.a2HeadImgContainer {
    /* border: solid red; */
    height: 80vh;
    position: relative;
    background-color: #70472C;
  }
  .a2HeadImgContainer > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 0px 0px;
  }
  .a2HeadTextContent {
    /* border: solid green; */
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 40%;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: #e91c1cc1;
  }
  .a2HeadTextContent > h2 {
    color: white;
    margin-left: 10px;
    font-size: 40px;
  }
  
  .a2HeadFormContent {
    /* border: solid blue; */
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    object-fit: cover;
  }
  .a2HeadContent1 > h2 {
    /* border: solid green; */
    font-size: 30px;
    text-align: center;
    padding: 30px;
  }
  .a2HeadContent1 > h2 > span {
    color: var(--customColor);
  }
  .a2HeadContent2 {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .a2DetailsContainer {
    /* border: solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
    background-color: var(--customColor2);
    padding: 20px;
  }
  .a2DetailsContainer > ul > li {
    font-size: 20px;
    margin-left: 50px;
    padding: 5px;
    color: var(--customColor);
  }
  .a2DetailsContainer > h3 {
    font-size: 20px;
    padding: 20px;
    color: black;
  }
  .a2PageMainContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--customColor2);
  }
  .a2FlexContainer {
    /* border: solid blue; */
    padding: 20px;
  }
  .a1FlexContainer > h2 {
    font-size: 30px;
    text-align: center;
  }
  .a1FlexContainer > h2 > span {
    color: var(--customColor);
  }
  .a1FlexContainer > p {
    font-size: 20px;
    margin: 20px;
  }
  .a1FlexContainer > p > a {
    color: var(--customColor);
    text-decoration: none;
  }
